@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  caption-side: bottom;
  border-collapse: collapse;
}

th {
  text-align: #e5e7eb;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #111827;
  vertical-align: center;
  border-color: #e5e7eb;
}
.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: #111827;
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px #111827;
}

.table > tbody {
  vertical-align: inherit;
}

.table > thead {
  vertical-align: bottom;
}
